<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/Style.css">

    <title>Tela 1</title>
</head>
<body>
<div class="Nomes">
    <h1> Grupo e RGM: </h1>
    <p>Felipe Araújo RGM: 29969786 </p>
    <p>Leticia Koeskes RGM: 29765498 </p>
    <p>Thainá Parisi RGM: 29809169 </p>
</div>


<h2>Sobre o Projeto:</h2>
<p> O objetivo do projeto da Agência de manicures, é conectar manicures locais com clientes em busca de serviços de
    manicure, fornecendo uma plataforma digital que permita às manicures criar perfis profissionais, compartilhar seus
    portfólios de trabalho e facilitar a reserva de serviços.</p>

<h2>Instruções de acesso e uso informadas abaixo:</h2>

<h2> Rota padrão: </h2>
<p> Acesse a rota padrão em seu navegador (http://localhost:3500), e você será direcionado para a página inicial de
    nosso projeto. Nesta página, você encontrará informações essenciais sobre o projeto, incluindo o nome de cada
    integrante do grupo, RGM e o bjetivo de nosso projeto!</p>

<h2>Rota de apresentação</h2>
<p>Para descobrir as tendências mais recentes em modelos de unhas e escolher o estilo que melhor combina com você, basta
    acessar a rota de apresentação no seu navegador. Visite http://localhost:3500/apresentacao para explorar as opções
    disponíveis.</p>

<h2>Rota Final/Verao</h2>
<p>Ao acessar a rota final (verao) em seu navegador (http://localhost:3500/apresentacao/verao), você será direcionado
    para a página de unhas de verão, que é a mais procurada entre nossas clientes na plataforma. Sinta-se à vontade para
    escolher o estilo que mais lhe agrada e aproveite ao máximo este verão! </p>

</body>
</html>